1. 이미 가지고 있는 데이터를 다시 받을 필요는 없다.
2. 어느 구간까지의 데이터를 가지고 있는 지 관리해야한다.
3. 어떤 데이터들을 받을 건지 관리해야한다. 

Name|Symbol|From|To
---|---|---|---
삼성전자|005930.KS|2010.01.01|2019.05.14
TIGER레버리지|123320.KS|-|-

이런 형태로 csv를 유지하고 이 양식을 사용해서 yahoo finance 에서 데이터를 받는  루틴을 구현하자.

## 1. DataFrame 생성 및 읽기

In [53]:
import pandas as pd
import datetime as dt

import os.path

initial_time = dt.datetime(2010,2, 1).strftime("%Y-%m-%d")

In [78]:
df = pd.DataFrame

csv_name = 'symbol_list.csv'

if(os.path.isfile(csv_name)):
    df = pd.read_csv(csv_name,index_col='Name')
else :
    df = pd.DataFrame(columns=['Name','Symbol','From','To'])
    df.set_index('Name',inplace=True)
    df.to_csv(csv_name)
df.head()

Empty DataFrame
Columns: [Symbol, From, To]
Index: []

## 2. 심볼 추가
---

이건 그냥 명시적으로 추가하는게 좋을듯. 전체 기업들을 다 긁어올 것은 아니니까

In [79]:
def add_symbol(df, name ,symbol):
    if(not name in df.index):
        initial_time = dt.datetime(2010,1, 1).strftime("%Y-%m-%d")
        df.loc[name] = [symbol,initial_time,initial_time]
        print('ADD : ' + name)
    else :
        print('DUP : ' + name)
    #print(df.loc[name])

In [80]:
symbol_list = {
     # 미국 IT 기업
    'Apple Inc.':'AAPL' ,
    'Microsoft Corporation':'MSFT',
    'International Business Machines Corporation':'IBM',
    'Oracle Corporation':'ORCL',
    'Amazon.com, Inc.':'AMZN',
    'Tesla, Inc.':'TSLA',
    # 한국 IT 기업
     'Samsung Electronics Co., Ltd':'005930.KS',
     'SK hynix, Inc.':'000660.KS',
    'LG Electronics Inc':'066570.KS',
    'NAVER Corporation':'035420.KS'
    
    
        
}
for k in symbol_list:
    add_symbol(df,k,symbol_list[k]) 
    
df.to_csv(csv_name)
df.head()

ADD : LG Electronics Inc
ADD : International Business Machines Corporation
ADD : Samsung Electronics Co., Ltd
ADD : Tesla, Inc.
ADD : Apple Inc.
ADD : Microsoft Corporation
ADD : Oracle Corporation
ADD : SK hynix, Inc.
ADD : NAVER Corporation
ADD : Amazon.com, Inc.

                                                Symbol        From          To
Name
LG Electronics Inc                           066570.KS  2010-01-01  2010-01-01
International Business Machines Corporation        IBM  2010-01-01  2010-01-01
Samsung Electronics Co., Ltd                 005930.KS  2010-01-01  2010-01-01
Tesla, Inc.                                       TSLA  2010-01-01  2010-01-01
Apple Inc.                                        AAPL  2010-01-01  2010-01-01